body{
    background-color: rgb(255, 0, 0);
}
div{
    background-color: rgb(255, 255, 255);
    width: 500px;
    border-radius: 20px;
    margin:auto ;
    box-shadow: 0 0 99999px rgb(253, 249, 0);
    padding: 20px;
}
h3{
    background-color: red;
    border-radius: 20px;
    width: 80%;
    margin: auto;
    text-align: center;
    color: #03ffd1;
}
 #cs{
    background-color: rgb(238, 255, 0);
}
#rust{
    background-color: silver;
}
#s{
    background-color: rgb(132, 88, 55);
    color: #ffffff;
} 
.grey{
    color: #626262;
}